*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.titulos{
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
}

h2{
    font-size: 25px;
}

h3{
    color:aliceblue;
}

ol{
    color:aliceblue;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-old-uyghur-regular {
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
}

.noto-serif-old-uyghur-regular-2 {
    font-family: "Noto Serif Old Uyghur", serif;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
    text-align: left;
    margin: 20px;
}

.titania{
    font-family: 'Titania', sans-serif;
    font-size: 40px;
    color:aliceblue;
    margin: 20px;
}

.titania-2{
    font-family: 'Titania', sans-serif;
    font-size: 20px;
    color:aliceblue;
    text-decoration: none;
    padding: 10px;
}

.titania-2:hover{
    text-decoration: underline;
    transition: 1.2s;
    transform: scale(1.3);
}

.shatter{
    font-family: 'Lower-WestSide', sans-serif;
    color: rgb(226, 230, 234);
    font-size: 70px;
    text-decoration: none;
}

.shatter-nav{
    font-family: 'Lower-WestSide', sans-serif;
    color: rgb(226, 230, 234);
    font-size: 50px;
    text-decoration: none;
}

.card{
    background-color: rgb(117, 110, 110);
    width: 400px;
    padding: 10px;
    border: 4px dotted rgb(89, 87, 87);
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.imgs{
    width: 60%;
}

header{
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 150px;

}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    position: absolute;
    left: 15px;
    top: 48px;
}

header h3{
    position: absolute;
    left: 280px;
    top: 50px;
}


.contenedor_limite{
    background-color: rgb(54, 58, 78);
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px;
    border: 6px double rgb(188, 182, 182);
}

.lista_exitos{
    margin: 30px;
}

.contenedor_inicio_1{
    background-color: black;
    max-width: 800px;
    height: auto;
    padding: 20px;
    border: 4px double rgb(89, 87, 87);
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.contenedor_historia_1{
    background-color: black;
    max-width: 800px;
    height: auto;
    padding: 20px;
    border: 4px double rgb(89, 87, 87);
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.contenedor_refins_1{
    background-color: black;
    max-width: 800px;
    height: auto;
    padding: 20px;
    border: 4px double rgb(89, 87, 87);
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.contenedor_padre{
    display: flex;
    justify-content: space-around;
}

.lista_ci1{
    padding: 20px;
    max-width: 1200px;
    background-color: black;
    margin: 0 auto;
    border: 4px double rgb(89, 87, 87);
    border-radius: 20px;
}

div ul li {
    margin: 10px;;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 10px;
    max-width: 700px;
    margin: 0 auto;
}

main{
    margin: 50px;
}

.footer-cont{
    background-color:  rgb(19, 19, 25);
    height: 90px;
    width: 100%;
}

.footer-cont-limite{
    margin: 0 auto;
}

footer div ul{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90px;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color:aliceblue;
    font-size: 20px;
    margin: 30px;
}

.footer-spotify:hover{
    color: rgb(26, 170, 26);
    transition: 1.2s;
    text-decoration: underline;
}

.footer-instagram:hover{
    color:rgb(224, 62, 197);
    transition: 1.2s;
    text-decoration: underline;
}

.footer-youtube:hover{
    color: red;
    transition: 1.2s;
    text-decoration: underline;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 3; }

.div1 img { width: 100%; }
.div2 img { width: 100%; }
.div3 img { width: 100%; }

@media (max-width: 1300px) {
   
}